




#mainInner {
    margin: 0 auto;
    width: 1520px;
    overflow: hidden;
}
#mainInner>h2 {
    margin-top: 119px;
    margin-bottom: 119px;
    font-size: 36px;
    font-weight: bold;
}
#mainInner>div {
    position: relative;
    width: 760px;
    height: 453px;
    float: left;
}

#mainInner>div:nth-of-type(3) {
    margin-top: 260px;
    margin-bottom: 320px;
}
#mainInner>div:nth-of-type(4) {
    margin-top: 260px;
    margin-bottom: 320px;
}
#mainInner>div>.pr_video {
    
    width: 760px;
    height: 405px;
}
#mainInner>div>.player {
    position: absolute;
    top: 170px;
    left: 320px;
    width: 165px;
    height: 165px;
    cursor: pointer;
    background: url(../img/button.png) no-repeat 0 0 / 100px 100px;
    /* opacity: 1; */
    
}
 #mainInner>div>.box {
    position: absolute;
    top: 0;
    left: 20px;
    width: 720px;
    height: 405px;
    cursor: pointer;
    background: #222222;
    opacity: .3;
    
} 
#mainInner>div>p.text {
    margin-top: 22px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

#mainInner>table {
    margin-bottom: 260px;
    width: 740px;
    height: 785px;
    font-size: 20px;
    float: left;
}
#mainInner>table:nth-of-type(2) {
    margin-left: 20px;
}
#mainInner>table>thead {
    height: 79px;
    font-size: 32px;
    line-height: 71px;
    font-weight: bold;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
#mainInner>table>thead>tr>th:nth-of-type(2) {
    padding-left: 50px;
    text-align: left;
}
#mainInner>table>tbody>tr {
    height: 87px;
    line-height: 85px;
    border-bottom: 1px solid #000;
}
#mainInner>table>tbody>tr>td:nth-of-type(1) {
    text-align: center;
}
#mainInner>table>tbody>tr>td:nth-of-type(2) {
    padding-left: 50px;
}
footer {
    clear: both;
}